.public_sale_card{
  background-color: black !important;  
}
.public_sale_card_button{
    background-color: orange !important;
    color: black !important;
    font-weight: bolder;
}
.yellow_color{
    color: orange !important;
}
.yellow_color_bg{
    background-color: orange !important;
}
.black_color{
    color: black !important;
}
.hoverColor:hover{
    color: orange !important;
}
.navbar_links{
    color: white !important;
    position: absolute !important;
    right: 20px !important;
    top: 10px !important;
}
.footerName_color{
    color: orange !important;
}
/* .navbarBorder_position{
    position: sticky !important;
    top: 0px !important;
} */
.footerIcon_div{
    margin-top: -4rem;
}
.btnwidth{
    width: 190px !important;
    color: #fff !important;
}
.btnwidth2{
    color: #fff !important;
}
@media(max-width:991px){
    .navbar_links{
        position: relative !important;
        left: 0px !important;
    }
}
@media(max-width:651px){
    .navbarBorder{
        border-bottom: 2px solid white !important;
        /* border-width: 10px !important; */
    }
    .titleSize{
        font-size: larger !important;
        font-weight: bold !important;
    }
    .footerIcon_div{
        margin-top: 0rem;
    }
}